##### Import libraries

In [157]:
import pandas as pd # data analysis
import matplotlib.pyplot as plt # default plotting library (line below: make plotting in Jupyter possible)
import seaborn as sns # user friendly visualisations
%matplotlib inline
import warnings # disable matplotlib warnings (you may not need that)
warnings.filterwarnings("ignore", module="matplotlib")

##### Set options for Pandas and Seaborn

In [158]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)
pd.set_option('max_colwidth', 800)
sns.set(style='ticks', context='poster')
sns.set_style("whitegrid")

##### Manually collected flights file

In [170]:
!ls | grep trips

trips_from_Nov2014.txt

In [175]:
# we can see the format of the trips
# Tip: for trips in the current year - we don't see the year value!
!head -n8 trips_from_Nov2014.txt

Flight FR 8856, ORK → WRO13 Jun, 06:35–09:53Flight FR 8857, WRO → ORK20 Jun, 10:49–12:31
Work-Flight MULTIPLE ORK → SIN6 May, N/AWork-Flight MULTIPLE SIN → ORK17 May, N/A
Flight FR 8856, ORK → WRO14 Feb, 18:50–22:30Flight FR 8857, WRO → ORK21 Feb, 16:24–18:22
Flight EI 462, DUB → CTA15 Oct 2016, 06:50–11:25Flight EI 463, CTA → DUB29 Oct 2016, 12:16–14:59
Flight FR 8011, DUB → WMI11 Aug 2016, 10:13–13:58Flight FR 8857, WRO → ORK16 Aug 2016, 10:45–12:09
Flight EI 462, DUB → CTA15 Oct 2016, 06:53–11:34Flight EI 463, CTA → DUB29 Oct 2016, 12:16–14:59
Flight FR 7316, DUB → CIY15 Sep 2016, 07:10–12:18Flight FR 7317, CIY → DUB18 Sep 2016, 11:16–13:56
Flight FR 8011, DUB → WMI11 Aug 2016, 10:13–13:58Flight FR 8857, WRO → ORK16 Aug 2016, 10:45–12:09

##### Extract information from this thing using Python regex module
I have to admit - this took a little while to get right!

In [176]:
import re
regex = re.compile(r'(.+)?Flight.+ → [a-zA-Z]{2,3}(\d{1,2} [a-zA-Z]{3})( \d{4})?.+ → [a-zA-Z]{2,3}(\d{1,2} [a-zA-Z]{3})( \d{4})?.+')
with open('trips_from_Nov2014.txt') as f:
    trips = [re.findall(regex, trip)[0] for trip in f.read().split('\n')]
trips = [(f[1] + (' 2017' if f[2] == '' else f[2]), f[3] + (' 2017' if f[4] == '' else f[4])) for f in trips]
trips[0:5]

[('13 Jun 2017', '20 Jun 2017'),
 ('6 May 2017', '17 May 2017'),
 ('14 Feb 2017', '21 Feb 2017'),
 ('15 Oct 2016', '29 Oct 2016'),
 ('11 Aug 2016', '16 Aug 2016')]

In [177]:
# turn list of tuples into Pandas dataframe and store as csv
trips = pd.DataFrame(trips, columns=['From', 'To'])
trips['From'] = pd.to_datetime(trips['From'])
trips['To'] = pd.to_datetime(trips['To'])
trips.to_csv('trips-df.csv', index=False)
trips.head()

        From         To
0 2017-06-13 2017-06-20
1 2017-05-06 2017-05-17
2 2017-02-14 2017-02-21
3 2016-10-15 2016-10-29
4 2016-08-11 2016-08-16